@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
:root {
  font-family: 'Anton', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('../public/background.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.text-gradient {
  background-image: linear-gradient(to right, #2f1d2c, #7874be);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

